<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue Demos</title>
  <script src="vue.js"></script>
</head>
<body>
<nav>
  <a href="index.html">Back to List of Demos</a>
</nav>
<div id="app">
  <div>
    <label>
      Number of things:
      <input type="number"
             v-model="countThings">
    </label>
    <h5 v-if="countThings <= 0">
      We have nothing.
    </h5>
    <h4 v-else-if="countThings < 2">
      We have a single thing.
    </h4>
    <h3 v-else-if="countThings < 3">
      We have a couple of things.
    </h3>
    <h2 v-else-if="countThings <10">
      We have a few things.
    </h2>
    <h1 v-else>
      WE HAVE MANY THINGS!!
    </h1>
  </div>

  <!--<div>
    <h1>A Simple Todo List</h1>
    <label>
      Add Todo Item:
      <input type="text" v-model="newToDo">
    </label>
    <button v-on:click="addToDoItem">
      Add
    </button>
    <ul>
      <li v-for="item in toDoList"
          :key="'TODO'+item">
&lt;!&ndash;        <button @click="removeToDoItem(index)">Done</button>&ndash;&gt;
        {{item}}
      </li>
    </ul>
  </div>-->
</div>
<script>
  var app = new Vue({
    el:"#app",
    data(){
      return {
        countThings:0,

        newToDo:"",

        // Our Illustrious To Do List
        toDoList:[
          "Mow Lawn",
          "Take out the trash",
          "Take a nap.",
        ],
      }
    },
    methods:{
      addToDoItem(e){
        this.toDoList.push(this.newToDo)
        this.newToDo = ""
      },
      // removeToDoItem(index){
      //   this.toDoList.splice(index, 1)
      // }
    },
    // computed:{
    //   numberOfToDoItems(){
    //     return this.toDoList.length
    //   }
    // }
  });
</script>
</body>
</html>
