<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue Demos</title>
  <script src="vue.js"></script>
</head>
<body>
<nav>
  <a href="index.html">Back to List of Demos</a>
</nav>
<!-- This is our ToDoItem Component. -->
<template id="to-do-item">
  <div>
    <h3>
      <label>
        <input type="checkbox"
               @input="toggleCheckBox"
               :checked="item.complete">
        {{ item.title }}
      </label>
    </h3>
    <p>{{ item.description }}</p>
  </div>
</template>
<script>
  var ToDoItem = {
    template:"#to-do-item",
    props:['item'],
    methods:{
      toggleCheckBox(e){
        let result = {...this.item}
        result.complete = e.target.checked
        this.$emit('update-item', result)
      }
    }
  }
</script>


<!-- This is our main Vue Instance -->
<div id="app">
  <label>
    <input type="checkbox"
           v-model="showComplete">
    Show Complete
  </label>
  <div >
    <h1>Alex's To-Do List</h1>
    <ul v-if="showComplete">
      <li v-for="item in finishedToDoItems"
        :key="'TODO'+item.id">
        <to-do-item :item="item"
                      @update-item="updateItem"></to-do-item>
      </li>
    </ul>
    <ul v-else>
        <li v-for="item in unfinishedToDoItems"
        :key="'TODO'+item.id">
          <to-do-item :item="item"
                      @update-item="updateItem"></to-do-item>
        </li>
    </ul>
  </div>
</div>
<script>
  var app = new Vue({
    el:"#app",
    components:{
      ToDoItem,
      },
    data(){
      return {
        // Do we want to see our completed todos?
        showComplete:false,
        // Our Illustrious To Do List
        toDoList:[
          {
            id:1,
            title:"Mow Lawn",
            description: "It's kinda shabby looking.",
            complete:false,
          },
          {
            id:2,
            title:"Take out the trash",
            description: "Seriously. What is that smell?",
            complete:false,
          },
          {
            id:3,
            title:"Take a nap.",
            description: "You seem tired.",
            complete:false,
          },
        ],
      }
    },
    methods:{
      updateItem(item){
        this.toDoList.forEach((el, i) => {
          if(el.id === item.id){
            this.$set(this.toDoList, i,item);
          }
        });
      },
    },
    computed:{
      unfinishedToDoItems(){
        return this.toDoList.filter(e=>!e.complete)
      },
      finishedToDoItems(){
        return this.toDoList.filter(e=>e.complete)
      }
    }
  });
</script>
</body>
</html>
