<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue Demos</title>
  <script src="vue.js"></script>
</head>
<body>
<nav>
  <a href="index.html">Back to List of Demos</a>
</nav>
<!-- This is our ToDoItem Component. -->
<template id="to-do-item">
  <div>
    <h3>
      <label>
        <input type="checkbox"
               @input="toggleCheckBox"
               :checked="complete">
        {{ label }}
      </label>
    </h3>
    <p>{{ description }}</p>
  </div>
</template>
<script>
  var ToDoItem = {
    template:"#to-do-item",
    props:['id','complete', 'label', 'description'],
    methods:{
      toggleCheckBox(e){
        this.$emit('update-complete', {id:this.id, complete:e.target.checked})
      }
    }
  }
</script>


<!-- This is our main Vue Instance -->
<div id="app">
  <label>
    <input type="checkbox"
           v-model="showComplete">
    Show Complete
  </label>
  <div >
    <h1>Alex's To-Do List</h1>
    <ul>
      <li v-for="item in displayedToDoItems"
        :key="'TODO'+item.id">
        <to-do-item :complete="item.complete"
                    :id="item.id"
                    :label="item.title"
                    :description="item.description"
                    @update-complete="completeItem"></to-do-item>
      </li>
    </ul>
  </div>
</div>
<script>
  var app = new Vue({
    el:"#app",
    components:{
      ToDoItem,
      },
    data(){
      return {
        // Do we want to see our completed todos?
        showComplete:false,
        // Our Illustrious To Do List
        toDoList:[
          {
            id:1,
            title:"Mow Lawn",
            description: "It's kinda shabby looking.",
            complete:false,
          },
          {
            id:2,
            title:"Take out the trash",
            description: "Seriously. What is that smell?",
            complete:false,
          },
          {
            id:3,
            title:"Take a nap.",
            description: "You seem tired.",
            complete:false,
          },
        ],
      }
    },
    methods:{
      completeItem(item){
        this.toDoList.forEach((el, i) => {
          if(el.id === item.id){
            this.toDoList[i].complete = item.complete;
          }
        });
      },
    },
    computed:{
      displayedToDoItems(){
        return this.toDoList.filter(e=>e.complete===this.showComplete)
      },
    }
  });
</script>
</body>
</html>
